html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background: #252729;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

h1.strong{
  font-weight: 400;
}

.form-control:focus{
    border-color: #ff7700;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,119,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,119,0,.6);
}

@media screen and (max-width: 650px){
    [class*="col-"]{
        width: 100%;
    }
}

/*********** LOGO SECTION ***********/
.logo-title-section{
    padding: 50px 0 30px;
    text-align:center;
    color: #fff;
    text-transform:uppercase;
}

.logo-title-section h1{
    display: inline-block;
}

.logo-title-section img.logo{
    height: 70px;
    vertical-align: bottom;
    margin-left: 15px;
}

/*********** SEARCH SECTION ***********/
.search-section input,
.search-section button {
    border-radius:0;
}

.search-section button{
    text-transform:uppercase;
    background: #ff7700;
    color: #fff;
}

/*********** MOVIE LIST SECTION ***********/
.movie-list-section{
    padding: 30px 0;
}

article.movie {
    text-align:center;
    position:relative;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 25px
}

article.movie section.movie-poster img{
    display:none;
}

@media screen and (max-width:1200px){
    article.movie{
        height: 450px;
    }
}

@media screen and (max-width:991px){
    article.movie{
        height: 500px;
    }
}

@media screen and (max-width:767px){
    article.movie{
        height: 450px;
    }
}

@media screen and (max-width:650px){
    article.movie{
        height: auto;
        background-image:none!important;
    }
    article.movie section.movie-poster img{
        display:block;
        width:100%;
    }
}


article.movie section.movie-content {
    text-align: left;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #545759;
    color: #fff;
    padding: 25px;
    border:solid 1px #fff;
    opacity: 0.0;
    -webkit-opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=0);
    -khtml-opacity: 0.0;
    transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
}

article.movie:hover section.movie-content{
    opacity: 1.0;
    -webkit-opacity: 1.0;
    -moz-opacity: 1.0;
    filter: alpha(opacity=100);
    -khtml-opacity: 1.0
}

article.movie section.movie-content h1{
    margin-top:0px;
    color: #ff7700;
    padding-right: 25px;
}

article.movie section.movie-content .runtime-genre{
    font-style: italic;
}

article.movie section.movie-content .runtime-genre .runtime{
    float:right;
}

article.movie section.movie-content a.btn{
    color: #fff;
    border: solid 1px #fff;
    border-radius: 0;
    padding:10px 25px;
    position:absolute;
    bottom:25px;
    left: 25px;
    text-transform:uppercase;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

article.movie section.movie-content a.btn:hover{
    background: #fff;
    color: #000;
}

article.movie section.movie-content .remove-movie{
    background:#fff;
    position:absolute;
    top:7px;
    right:7px;
    color: #545759;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
}

article.movie section.movie-content .remove-movie i{
    margin: 5px 7px;
}
